@charset 'utf-8';
body {
	height:100%;
	background:url("../img/body.png") center top;
}

#mask {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:.5;
	filter:alpha(opacity=50);
}

.tipbox {
	width:980px;
	height:800px;
	position:relative;
	margin:0 auto;
}
.tipbox .tip a {
	display: block;
	width:25px;
	height: 25px;
	border-radius: 100%;
	position: absolute;
	z-index: 3;
}
.tipbox .tip span {
	display: block;
	width:88px;
	height:30px;
	position: absolute;
	z-index:3;
	cursor: pointer;
}
.tipbox .tip {
	display: none;
}
.tipbox .tip1 {
	width:745px;
	height:329px;
	background:url("../img/guide11.png") no-repeat;
	position: absolute;
	top:130px;
	left:-7px;
	z-index:2;
}
.tipbox .tip1 a {
	top:146px;
	right:35px;
}
.tipbox .tip1 span {
	bottom:67px;
	right:163px;
}
.tipbox .tip2 {
	width:647px;
	height:405px;
	background:url("../img/guide21.png") no-repeat;
	position: absolute;
	top:4px;
	right:10px;
	z-index:2;
}
.tipbox .tip2 a {
	bottom:181px;
	right:287px;
}
.tipbox .tip2 span {
	bottom:67px;
	right:409px;
}
.tipbox .tip3 {
	width:654px;
	height:257px;
	background:url("../img/guide31.png") no-repeat;
	position: absolute;
	top:293px;
	right:7px;
	z-index:2;
}
.tipbox .tip3 a {
	bottom:185px;
	right:38px;
}
.tipbox .tip3 span {
	bottom:70px;
	right:161px;
}
.tipbox .tip4 {
	width:558px;
	height:348px;
	background:url("../img/guide41.png") no-repeat;
	position: absolute;
	top:79px;
	right:260px;
	z-index:2;
}
.tipbox .tip4 a {
	bottom:185px;
	right:38px;
}
.tipbox .tip4 span {
	bottom:70px;
	right:161px;
}
.tipbox .tip5 {
	width:397px;
	height:342px;
	background:url("../img/guide51.png") no-repeat;
	position: absolute;
	top:79px;
	right:325px;
	z-index:2;
}
.tipbox .tip5 a {
	bottom:185px;
	right:38px;
}
.tipbox .tip5 span {
	bottom:65px;
	right:153px;
}